<header class="site-header">
  <div class="inner">
    <a class="brand" data-nav-link="home" href="{{root}}/index.html">
      <span class="brand-dot" aria-hidden="true"></span>
      <span>Pierre Duchesne</span>
    </a>
    <nav class="nav">
      <a data-nav-link="home" href="{{root}}/index.html">Accueil</a>
      <a data-nav-link="sudoku" href="{{root}}/sudoku/sudoku.html">Sudoku</a>
      <a data-nav-link="score" href="{{root}}/score/index.html">Score</a>
      <a data-nav-link="batch-cooking" href="{{root}}/batch-cooking/index.html">Batch cooking</a>
      <a data-nav-link="recommendations" href="{{root}}/recommendations/index.html">Recommandations</a>
      <a data-nav-link="encyclopedia" href="{{root}}/encyclopedia/index.html">Encyclopedie</a>
    </nav>
  </div>
</header>
